
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
    <a class="navbar-brand" href="/">The Toll Roads</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav mr-auto">

            <ul class="navbar-nav mr-auto">
                {{ range .Site.Menus.main }}

                {{ if .HasChildren }}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ .Name }}
                    </a>

                    <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                        {{ range .Children }}

                        <a class="nav-link" href="{{ .URL }}">
                            {{ if .Pre }}
                            {{ $icon := printf "<i data-feather=\"%s\"></i> " .Pre | safeHTML }}
                            {{ $icon }}
                            {{ end }}
                            {{ $text := print .Name | safeHTML }}
                            {{ $text }}
                        </a>

                        {{end}}
                    </div>
                </li>
                {{ else }}
                <li class="nav-item">
                    <a class="nav-link" href="{{ .URL }}">
                        {{ if .Pre }}
                        {{ $icon := printf "<i data-feather=\"%s\"></i> " .Pre | safeHTML }}
                        {{ $icon }}
                        {{ end }}
                        {{ $text := print .Name | safeHTML }}
                        {{ $text }}
                    </a>
                </li>
                {{ end }}
                {{ end }}

            </ul>

        </div>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
        </div>
</nav>
 